* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: lavender;
}

h1 {
    text-align: center;
    padding: 1em;
}

#wrapper {
    margin: 0 auto;
    width: 70vw;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    outline: 3px solid black;
    outline-offset: -3px;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

img {
    border: 2px solid black;
    margin: 0.5em;
}